<!DOCTYPE html>
<html>
<head>
  <title>WIR3D</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <img class="navbar-brand topnav" src="/assets/WIR3D_3png.png">
              <a class="navbar-brand topnav" href="/">WIR3D</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/companies">Company</a>
                  </li>
                  <li>
                      <a href="/jobs">Jobs</a>
                  </li>
                  <li>
                      <a href="/profiles">Profile</a>
                  </li>
                  <li>
                      <a href="/users/edit">Account</a>
                  </li>
                  <% if !user_signed_in? %>
                  <li>
                      <%= link_to "Sign In", new_user_session_path %>
                  </li>
                  <% else %>
                  <li>
                      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  </li>
                  <% end %>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  <hr><hr>
</div>
<% end %>
<!-- SIDE BAR -->
<div class="container">
  <div class="row">
    <!-- SIDE BAR START-->
    <% if user_signed_in? %>
    <div class="col-md-3">
        <br>
        <h3><%= current_user.first_name + " " + current_user.last_name%></h3>
      <div class="list-group"><%=current_user.profile.occupation%></a>
          <a href="/show" class="list-group-item">
            <% unless current_user.profile.avatar_url.nil? %>
              <%= image_tag current_user.profile.avatar_url(:display) %>
              <% else %>
              <img src="/assets/defaultprofile" height=200px width=200px>
              <% end %>
        <%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %>
      </div>
    </div>
    <!-- SIDE BAR END-->
    <% end %>
    <div align="middle">
      <% if user_signed_in? %>
      <div class="col-md-9">
    <%= yield %>
      </div>
      <% else %>
      <%= yield %>
      <% end %>
  </div>
  </div>
</div>

</body>
</html>
